tools/eclipslee/plugins/org.mobicents.eclipslee.servicecreation/dtd/deploy-config_1_1.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT deploy-config (ra-entity)+>

<!ELEMENT ra-entity (properties?,ra-link?)>
<!ATTLIST ra-entity
  entity-name CDATA #REQUIRED
  resource-adaptor-id CDATA #REQUIRED>

<!ELEMENT properties (property)+>
<!ELEMENT ra-link EMPTY>
<!ATTLIST ra-link
  name CDATA #REQUIRED>

<!ELEMENT property EMPTY>
<!ATTLIST property
  name CDATA #REQUIRED
  type CDATA #REQUIRED
  value CDATA #REQUIRED>
